:root {
  --dropDownWidth: 200px;
  --dropDownBtnHeigth: 40px;
  --red: rgb(216, 61, 61);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgb(107, 1, 1),
    rgba(73, 130, 253, 0.925)
  );
}
.menuContainer {
  height: 50px;
  width: 200px;
}
#menuIcon {
  font-size: 36px;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.menuIconBackground {
  background-color: var(--red);
  border: 1px solid var(--red);
  width: 40px;
  border-radius: 50%;
}

.menuBackground {
  background-color: var(--red);
  position: absolute;
  top: -100px;
  left: -100px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0.42, 0, 0.21, 1.52);
}

.menuActivated {
  width: 400px;
  height: 400px;
  z-index: 2;
}

.menuContent {
  color: white;
  position: relative;
  left: 70px;
  top: 15px;
  font-size: 36px;
  visibility: hidden;
}

.menuTextActivated {
  visibility: visible;
  z-index: 2;
}

p {
  margin: 5px 0px;
  cursor: pointer;
}

.dropDownContainer {
  position: relative;
  top: 200px;
  height: 200px;
  width: var(--dropDownWidth);
}

#dropDownBtn {
  position: absolute;
  border: none;
  background-color: var(--red);
  color: white;
  cursor: pointer;
  top: 0px;
  font-size: 20px;
  width: var(--dropDownWidth);
  height: var(--dropDownBtnHeigth);
}
.dropDownContent {
  position: absolute;
  width: var(--dropDownWidth);
  top: var(--dropDownBtnHeigth);
  height: 0px;
  background-color: var(--red);
  color: white;
  visibility: hidden;
  transition: height 0.3s ease-in-out;
}

.visible {
  height: 80px;
  visibility: visible;
}
/* Image Slider */

#imageSliderContainer {
  height: 225px;
  width: 10000px;
  position: absolute;
  top: 0px;
  left: 0px;

  transition: left 0.8s ease-in-out;
}
.currentImage {
  border: 5px solid var(--red);
  height: 225px;
  width: 400px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.material-icons-outlined {
  z-index: 1;
  color: black;
  position: absolute;
  top: 90px;
  cursor: pointer;
}
#forward {
  right: 10px;
  font-size: 40px;
}
#back {
  left: 10px;
  font-size: 40px;
}

.wrap {
  height: 500px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .wrap {
    padding: 20px;
  }
  .currentImage {
    width: 300px;
  }
}
